@import "tailwindcss";

@theme {
  /* Tus colores de marca Pixao */
  --color-pixao-blue-900: #0B1120;
  --color-pixao-blue-800: #1E293B;
  --color-pixao-blue-500: #3B82F6;

  --color-pixao-gold: #C59D5F;
  --color-pixao-gold-light: #D4AF37;
  --color-pixao-gold-dark: #A17F4A;

  /* Vinculamos las fuentes aquí */
  --font-inter: var(--font-inter); 
  --font-montserrat: var(--font-montserrat);
}

/* Estilos base */
body {
  background-color: var(--color-pixao-blue-900);
  color: #ffffff;
  font-family: var(--font-inter), sans-serif;
}